# Exploratotry Data analysis for Machine Learning
## Retrieving data
### Reading CSV files

In [28]:
# get the iris dataset
!mkdir data
!wget https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv -O data/iris_data.csv

mkdir: cannot create directory ‘data’: File exists
--2021-11-13 14:25:14--  https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3975 (3.9K) [text/plain]
Saving to: ‘data/iris_data.csv’

data/iris_data.csv  100%[===================>]   3.88K  --.-KB/s    in 0s

2021-11-13 14:25:14 (38.4 MB/s) - ‘data/iris_data.csv’ saved [3975/3975]

In [3]:
import pandas as pd
filepath = "data/iris_data.csv"

# Import data
data = pd.read_csv(filepath)

# Print a few rows
print(data.iloc[:5])

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [29]:
# Different delimiters - tab-separated file (.tsv):
data = pd.read_csv(filepath, sep='\t')
data

Empty DataFrame
Columns: [{"message": "success", "people": [{"name": "Mark Vande Hei", "craft": "ISS"}, {"name": "Pyotr Dubrov", "craft": "ISS"}, {"name": "Anton Shkaplerov", "craft": "ISS"}, {"name": "Zhai Zhigang", "craft": "Shenzhou 13"}, {"name": "Wang Yaping", "craft": "Shenzhou 13"}, {"name": "Ye Guangfu", "craft": "Shenzhou 13"}, {"name": "Raja Chari", "craft": "ISS"}, {"name": "Tom Marshburn", "craft": "ISS"}, {"name": "Kayla Barron", "craft": "ISS"}, {"name": "Matthias Maurer", "craft": "ISS"}], "number": 10}]
Index: []

In [14]:

# space-separated file:
data = pd.read_csv(filepath, delim_whitespace=True)
data

    sepal.length,"sepal.width","petal.length","petal.width","variety"
0                              5.1,3.5,1.4,.2,"Setosa"
1                                4.9,3,1.4,.2,"Setosa"
2                              4.7,3.2,1.3,.2,"Setosa"
3                              4.6,3.1,1.5,.2,"Setosa"
4                                5,3.6,1.4,.2,"Setosa"
..                                                 ...
145                          6.7,3,5.2,2.3,"Virginica"
146                          6.3,2.5,5,1.9,"Virginica"
147                            6.5,3,5.2,2,"Virginica"
148                        6.2,3.4,5.4,2.3,"Virginica"
149                          5.9,3,5.1,1.8,"Virginica"

[150 rows x 1 columns]

In [12]:
# not using the first row for column names:
data = pd.read_csv(filepath, header=None)
data

                0            1             2            3          4
0    sepal.length  sepal.width  petal.length  petal.width    variety
1             5.1          3.5           1.4           .2     Setosa
2             4.9            3           1.4           .2     Setosa
3             4.7          3.2           1.3           .2     Setosa
4             4.6          3.1           1.5           .2     Setosa
..            ...          ...           ...          ...        ...
146           6.7            3           5.2          2.3  Virginica
147           6.3          2.5             5          1.9  Virginica
148           6.5            3           5.2            2  Virginica
149           6.2          3.4           5.4          2.3  Virginica
150           5.9            3           5.1          1.8  Virginica

[151 rows x 5 columns]

In [15]:
# Specify column names:
data = pd.read_csv(filepath, names=["Name1", "Name2", "Name3", "Name4", "Name5"])
data

            Name1        Name2         Name3        Name4      Name5
0    sepal.length  sepal.width  petal.length  petal.width    variety
1             5.1          3.5           1.4           .2     Setosa
2             4.9            3           1.4           .2     Setosa
3             4.7          3.2           1.3           .2     Setosa
4             4.6          3.1           1.5           .2     Setosa
..            ...          ...           ...          ...        ...
146           6.7            3           5.2          2.3  Virginica
147           6.3          2.5             5          1.9  Virginica
148           6.5            3           5.2            2  Virginica
149           6.2          3.4           5.4          2.3  Virginica
150           5.9            3           5.1          1.8  Virginica

[151 rows x 5 columns]

In [17]:
# Custom missing values:
data = pd.read_csv(filepath, na_values=["NA", 99])
data

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

### Reading JSON files
meant to store lots of information in an easy to access manner,
often used in NoSQL data bases and different APIs,
similar structure to Python dicts

In [19]:
!wget http://api.open-notify.org/astros.json -O data/ppl_in_space.json

--2021-11-13 14:07:16--  http://api.open-notify.org/astros.json
Resolving api.open-notify.org (api.open-notify.org)... 138.68.39.196
Connecting to api.open-notify.org (api.open-notify.org)|138.68.39.196|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 497 [application/json]
Saving to: ‘data/ppl_in_space.json’

data/ppl_in_space.j 100%[===================>]     497  --.-KB/s    in 0s

2021-11-13 14:07:17 (56.1 MB/s) - ‘data/ppl_in_space.json’ saved [497/497]

In [23]:
filepath = "data/ppl_in_space.json"
# Read JSON file as dataframe
data = pd.read_json(filepath)
# TODO read documentation for more parsing

# Write dataframe file to JSON
data.to_json("data/outputfile.json")
data

   message                                            people  number
0  success        {'name': 'Mark Vande Hei', 'craft': 'ISS'}      10
1  success          {'name': 'Pyotr Dubrov', 'craft': 'ISS'}      10
2  success      {'name': 'Anton Shkaplerov', 'craft': 'ISS'}      10
3  success  {'name': 'Zhai Zhigang', 'craft': 'Shenzhou 13'}      10
4  success   {'name': 'Wang Yaping', 'craft': 'Shenzhou 13'}      10
5  success    {'name': 'Ye Guangfu', 'craft': 'Shenzhou 13'}      10
6  success            {'name': 'Raja Chari', 'craft': 'ISS'}      10
7  success         {'name': 'Tom Marshburn', 'craft': 'ISS'}      10
8  success          {'name': 'Kayla Barron', 'craft': 'ISS'}      10
9  success       {'name': 'Matthias Maurer', 'craft': 'ISS'}      10

## SQL databases
represents a set of relational databases with fixed schemas

### Reading data with sqlite3

In [31]:
# SQL Data Imports
import sqlite3 as sq3
import pandas as pd

# Initialize path to SQLite database
db_path = "data/classic_rock.db"

# Create connection SQL database
con = sq3.Connection(db_path)
print(con)

# Write query
query = ''' SELECT * FROM rock_songs;'''
print(query)

# read into pandas by combining the query and the connetion
data = pd.read_sql(query, con)
data

<sqlite3.Connection object at 0x7f3045aca8a0>
 SELECT * FROM rock_songs;

,Song,Artist,Release_Year,PlayCount
0,Caught Up in You,.38 Special,1982.0,82
1,Hold On Loosely,.38 Special,1981.0,85
2,Rockin' Into the Night,.38 Special,1980.0,18
3,Art For Arts Sake,10cc,1975.0,1
4,Kryptonite,3 Doors Down,2000.0,13
...,...,...,...,...
1645,Sharp Dressed Man,ZZ Top,1983.0,120
1646,Tube Snake Boogie,ZZ Top,1981.0,32
1647,Tush,ZZ Top,1975.0,109
1648,TV Dinners,ZZ Top,1983.0,1
1649,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO,ZZ Top,1973.0,2

## NoSQL databases